<div class="container p-0 m-0">
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-unstyled mx-0">
        <li class="mb-1">
          <button class="btn px-0 text-center rounded collapsed w-100" data-bs-toggle="collapse" aria-expanded="true">
            <span class="text-success fw-bolder">Öneriler</span>
          </button>
          <div class="collapse">
            <ul class="list-unstyled fw-normal pb-1 small">

            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn px-0 text-center rounded collapsed" data-bs-toggle="collapse" aria-expanded="true">

          </button>

          <div class="collapse">
            <ul class="list-unstyled fw-normal pb-1 small">

            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <br />
      <br />
      <label style="font-size:small">Başlangıç Tarihi</label>
      <input type="date" class="form-control" />
      <br />
      <label style="font-size:small">Bitiş Tarihi</label>
      <input type="date" class="form-control" />
      <br />
      <label style="font-size:small">Kategori</label>
      <select style="font-size:small" class="form-select">
        <option value="" selected>Kategori Seçin..</option>
      </select>
      <br />
      <label style="font-size:small">Durum</label>
      <select style="font-size:small" class="form-select">
      </select>
      <br />
      <button class="btn btn-success w-100">Filtrele</button>


    </div>
  </div>
</div>
