<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mt-5 mb-5 border border-success">
        <h5 class="mt-1 mb-5 text-success text-center">Tablo/Grid Gösterimi (Pagination slide + sayaf seçimi şeklinde 2
          türlü xhr)</h5>
        <app-datagrid></app-datagrid>
      </div>

      <div class="mt-5 mb-5 border border-primary">
        <h5 class="mt-1 text-center text-success"> Bölge-Şehir-Ay dağılımlı Pivot ve Grafik Gösterimi</h5>
        <h6 class="mb-5 text-center text-success"> <small>(Veri sadece 2022 June olduğundan tek yıl ve ay gözüküyor
            suan)</small></h6>
        <app-pivot></app-pivot>
      </div>

    </div>
  </div>
</div>
